@tailwind base;
@tailwind components;
@tailwind utilities;
  
.gradient-text {
    background-image: linear-gradient(90deg,#80389F,#2F5072);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }